
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  height: 90vh; }

.modal {
  border-radius: 7px;
  overflow: hidden;
  background-color: transparent; }
  .modal .logo a img {
    width: 30px; }
  .modal .modal-content {
    background-color: transparent;
    border: none;
    border-radius: 7px; }
    .modal .modal-content .modal-body {
      border-radius: 7px;
      overflow: hidden;
      background-color: #fff;
      padding-left: 0px;
      padding-right: 0px;
      -webkit-box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.9);
      box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.9); }

      .modal .modal-content .modal-body p {
        color: #777; }
      .modal .modal-content .modal-body h3 {
        color: #000;
       }
      .modal .modal-content .modal-body .close-btn {
        color: #000; }
      .modal .modal-content .modal-body .promo-img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%; }
  .modal .cancel {
    color: gray;
   
  }
  .modal .btn-primary {
    padding-top: 10px;
    padding-bottom: 10px; }

.form-control {
  border: transparent;
  border: 1px solid #ccc; }
  .form-control:active, .form-control:focus, .form-control:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.btn {
  border-radius: 4px;
  border: none; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.logo img {
  width: 70px; }

.custom-note {
  color: #999; }
  .custom-note a {
    color: #555;
    font-weight: 900 !important; }
